<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_category.Event_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event_category.Category_id %>
</p>

<%= link_to 'Edit', edit_event_category_path(@event_category) %> |
<%= link_to 'Back', event_categories_path %>
